@media (max-width: 940px) {
  .btn-nav {
    display: none;
  }
  .toggle-menu-btn {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-500px);
    transition: 0.3s;
    background: #2d3436;
  }
  .navigation li {
    display: block;
    padding: 10px 0px;
  }
  .navigation li a {
    color: #fff;
  }
  .bolet::before {
    width: 5px;
    height: 5px;
    background: none;
  }
  #toggle-menu:checked ~ .navigation {
    transform: translateY(0px);
  }
  .col-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  .col-2,
  .certificate,
  .footer-container {
    grid-template-columns: 1fr;
  }
  .col-left {
    text-align: center;
  }
  .logo {
    margin: 0px auto;
  }
}
@media (max-width: 700px) {
  .banner-image img {
    width: 69%;
    height: 68%;
    margin-top: -8px;
  }
  .banner-text h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--heading-color);
    line-height: 60px;
  }
  .col-5,
  .col-3,
  .col-2 {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .category-container {
    flex-direction: column;
    height: 100%;
  }
  .single-category {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  .c-2 {
    margin-left: 14px;
  }
  .c-3 {
    margin-right: 10px;
  }
  .partner {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    padding: 20px 0px;
  }
  .section-title h2 {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 10px;
  }
  .logo {
    margin: 0px;
  }
  .paragraph {
    margin-top: 20px;
    text-align: left;
  }
  .col p {
    font-size: 12px;
  }
  .social-link h4 {
    margin-right: 12px;
    font-size: 17px;
  }
}
@media (max-width: 464px) {
  .feature-head h2 {
    font-size: 36px;
    line-height: 80px;
    letter-spacing: -2px;
  }
  .feature-main {
    padding: 10px 0px;
  }
  .feature-main-text h4 {
    line-height: 27px;
  }
  .certificate-left h2 {
    font-size: 44px;
    line-height: 59px;
    margin-bottom: 16px;
  }
  .search-box button {
    width: 100%;
  }
  .search-box {
    padding: 0px 7px;
  }
  .search-box form input {
    height: 20px;
    width: 164px;
  }
  .social-link img {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }
  .social-link h4 {
    margin-right: 12px;
    font-size: 16px;
  }
  .form-control input {
    max-width: 101px;
    margin-right: 9px;
  }
  textarea {
    max-width: 140px;
  }
}
@media (max-width: 320px) {
  .social-link img {
    margin-right: 0px;
  }
  .form-control input {
    max-width: 98px;
    margin-right: 1px;
  }
  textarea {
    max-width: 122px;
  }
}
