@media (max-width: 940px) {
  .btn-nav {
    display: none;
  }
  .toggle-menu-btn {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-500px);
    transition: 0.3s;
    background: #2d3436;
  }
  .navigation li {
    display: block;
    padding: 10px 0px;
  }
  .navigation li a {
    color: #fff;
  }
  .bolet::before {
    width: 5px;
    height: 5px;
    background: none;
  }
  #toggle-menu:checked ~ .navigation {
    transform: translateY(0px);
  }
  .col-3{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 10px;
  }
}
@media (max-width: 700px) {
  .banner-image img {
    width: 69%;
    height: 68%;
    margin-top: -8px;
  }
  .banner-text h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--heading-color);
    line-height: 60px;
  }
  .col-5,
  .col-3 {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .partner {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    padding: 20px 0px;
  }
  .section-title h2{
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 10px;
  }
}
