@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background: url(/images/bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
:root {
  --heading-color: #2d3436;
  --highlight-color: #fe3c5e;
  --animate-duration: infinite;
  --animate-delay: 0.9s;
}
.d-flex {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 20px;
}
.col-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 20px;
}
.animate__animated.animate__pulse {
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
}
.logo img {
  width: 100%;
  margin-top: 13px;
}
.navigation li {
  display: inline-block;
  list-style: none;
}
.navigation li a {
  color: var(--highlight-color);
  text-decoration: none;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  transition: 0.3s;
}
.navigation li a:hover {
  color: #2d3436;
  font-weight: 500;
}
.bolet::before {
  content: "";
  width: 5px;
  height: 5px;
  background: rgba(253, 203, 110, 1);
  position: absolute;
  border-radius: 50%;
  top: 40px;
}
.btn-nav {
  border: 0;
  border-radius: 5px;
  padding: 12px 30px;
  background: var(--highlight-color);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
#toggle-menu {
  display: none;
}
.toggle-menu-btn {
  font-size: 22px;
  color: #fe3c5e;
  display: none;
}
/* nav css end */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 56px;
  text-align: center;
}
.banner-text h1 {
  font-size: 90px;
  font-weight: 800;
  color: var(--heading-color);
  line-height: 104px;
}
.banner-image {
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
}
.banner-image img {
  width: 100%;
  height: 100%;
  margin-top: -108px;
}
.highlight {
  color: var(--highlight-color);
}
/* banner css end */
.partners {
  padding: 0px 40px;
}
.partner {
  max-width: 970px;
  height: 116px;
  background: white;
  margin: 0 auto;
  border-radius: 100px;
}
#classes {
  margin-top: 56px;
}
.section-title {
  text-align: center;
  max-width: 655px;
  margin: 0px auto;
}
.section-title h2 {
  font-size: 59px;
  line-height: 104px;
  font-weight: 600;
}
.section-title p {
  color: rgba(71, 60, 58, 1);
  padding: 0px 34px;
  font-weight: 400;
  line-height: 26px;
}
.classes-container {
  padding: 0px 40px;
  margin-bottom: 20px;
}
.class-card {
  text-align: center;
  margin-top: 55px;
  background: rgba(255, 255, 255, 0.5);
  max-width: 320px;
  height: 450px;
  border-radius: 20px;
  transition: 0.3s;
}
.class-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 1);
}
.card-img {
  width: 120px;
  height: 120px;
  margin: 0px auto;
  position: relative;
  top: 77px;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.card-text {
  position: relative;
  top: 102px;
}
.card-text h3 {
  font-size: 35px;
  line-height: 56px;
  color: var(--main-color);
  font-weight: 700;
}
.card-text p {
  line-height: 26px;
  color: rgba(45, 52, 54, 1);
  font-weight: 400;
  padding: 0px 30px;
  margin-bottom: 15px;
}
.btn-card {
  padding: 12px 30px;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  border-radius: 8px;
  background: var(--highlight-color);
  color: white;
  cursor: pointer;
}
/* classes section end */
#feature {
  margin-top: 75px;
}
.feature-container {
  padding: 0px 40px;
}
.feature-head h2 {
  font-size: 59px;
  line-height: 104px;
  letter-spacing: -3px;
  font-weight: 700;
  color: var(--main-color);
}
.feature-head p {
  line-height: 26px;
  color: rgba(45, 52, 54, 1);
  font-weight: 400;
}
.feature-main {
  max-width: 510px;
  height: 98px;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-main-img,
.category-img {
  margin-left: 16px;
  margin-right: 10px;
  max-width: 60px;
  height: 60px;
}
.feature-main-img img {
  width: 100%;
  height: 100%;
}
.feature-img {
  max-width: 602px;
  height: 479px;
  margin-top: 26px;
}
.feature-img img {
  width: 100%;
  height: 100%;
}
.feature-main-text h4 {
  font-size: 20px;
  color: rgba(87, 95, 98, 1);
  font-weight: 600;
  line-height: 46px;
}
.feature-main-text,
.single-category p {
  color: rgba(114, 119, 120, 1);
  font-size: 14px;
  font-weight: 400;
}
/* feature css end */
#category {
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0px 30px;
}
.category-container {
  background: rgba(255, 255, 255, 1);
  max-width: 1170px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.single-category {
  display: flex;
  align-items: center;
}
.single-category h4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--main-color);
  font-weight: 700;
}
.category-img img {
  width: 100%;
  height: 100%;
}
/* category css end */
.certificate {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0px 40px;
}
.certificate-left h2 {
  font-size: 54px;
  line-height: 104px;
  color: var(--main-color);
  font-weight: 700;
}
.certificate-left p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(71, 60, 58, 1);
  font-weight: 400;
  margin-bottom: 40px;
}
.certificate-image img {
  width: 100%;
  height: 100%;
}
/* certificate css end */
.search-box {
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 0px 40px;
}
.search-box form {
  max-width: 970px;
  height: 116px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  flex-wrap: wrap;
}
.search-box form input {
  border: none;
  height: 26px;
  width: 317px;
  padding: 0px 20px;
  outline: none;
  font-size: 14px;
}
input::placeholder {
  color: #dcdcdc;
}
.search-box form i {
  color: #dcdcdc;
}
.btn {
  background: rgba(254, 60, 94, 1);
  border: 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 35px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
/* search-box css end */
.footer {
  margin-bottom: 20px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 50px;
  padding: 0px 40px;
}
.logo {
  max-width: 195px;
  height: 56px;
}
.logo img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.paragraph {
  margin-top: 20px;
}
.social-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.social-link img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.social-link h4 {
  margin-right: 43px;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}
.col-right-top h5 {
  color: #adadad;
  letter-spacing: 2.5px;
  font-weight: 600;
}
.form-control input {
  border: none;
  height: 36px;
  max-width: 177px;
  padding: 0px 18px;
  margin-right: 9px;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 14px;
  background-color: #e1dddd;
}
textarea {
  border: 1px solid #fe3c5e;
  max-width: 286px;
  font-size: 14px;
  padding: 10px 19px;
  margin-right: 15px;
  background-color: #e1dddd;
  border-radius: 10px;
  outline: none;
}
textarea::placeholder {
  color: #f497a8;
}
.form-control input::placeholder {
  color: #2d3436 !important;
}
.row {
  margin-top: 50px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col p {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #2d3436;
}
.copyright{
  margin-top: 20px;
  text-align: center;
  padding: 0px 40px;
}
.copyright p{
  margin-top: 10px;
  font-weight: 600;
}