@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background: url(/images/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 40px;
}
:root{
    --heading-color:#2D3436;
    --highlight-color:#FE3C5E;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.logo img{
    width: 100%;
    margin-top: 13px;
}
.navigation li{
    display: inline-block;
    list-style:none;
}
.navigation li a{
    color:var(--highlight-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    transition: .3s;
}
.navigation li a:hover{
    color: #2D3436;
    font-weight: 500;
}
.bolet::before{
    content: "";
    width: 5px;
    height: 5px;
    background: rgba(253, 203, 110, 1);
    position: absolute;
    border-radius:50%;
    top: 40px;
}
.btn-nav{
    border: 0;
    border-radius: 5px;
    padding: 12px 30px;
    background: var(--highlight-color);
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
#toggle-menu{
    display: none;
}
.toggle-menu-btn{
    font-size: 22px;
    color: #FE3C5E;
    display: none;
}